@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Garante que o fundo padrão seja o do sistema */
body {
  background-color: #f8fafc; /* slate-50 */
  -webkit-font-smoothing: antialiased;
}

/* Remove qualquer centralização forçada que usamos no Login anteriormente */
#root {
  display: block !important; 
}